@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Ubuntu", sans-serif;
  color: var(--text);
  background: var(--background);
}

@layer base {
  :root {
    --text: #050316;
    --text2: #747386;
    --background: #e8e8e8;
    --primary: #096BF4;
    --secondary: #a7a4e2;
    --accent: rgb(107, 130, 193);
    --nav-bg: #6fa3f8;
    --background2: #ffffff;
    --birr: #659bf2;

  }
  .dark {
    --text: #eae9fc;
    --text2: #4d6893;
    --background: #090929;
    --primary: #316bd8;
    --secondary: #211d5d;
    --accent: rgb(76, 91, 129);
    --nav-bg: #231b5c;
    --background2: #070737;

  }
}

.btn {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 14px;
  border: 0;
  font-size: 1rem;
}

.btn:hover {
  box-shadow: var(--accent) 0px 0px 20px 1px;
  transform: translateY(-1px);
  transition: 0.23s;
}

.whiteTxt {
  color: white;
}

.heroImage {
  height: 70%;
}

.navbar {
  background-color: var(--background);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.navbar-menu{
  top: calc(100% - 40px);
  height: calc(100vh - 50px);
}
